body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flashcard {
  width: 600px;
  height: 400px;
  color: black;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard:hover{
  cursor: pointer ;
}

.button{
  display: flex;
  justify-content: space-around;
}

.idx-button{
  font-size: x-large;
  font-weight: 300;
  outline-style: auto; 
  padding: 0px 10px;
  cursor: pointer;
}
