body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.description{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.flashcard {
  width: 600px;
  height: 400px;
  color: black;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard:hover{
  cursor: pointer ;
}

.button{
  display: flex;
  justify-content: space-around;
}

.idx-button{
  font-size: x-large;
  font-weight: 300;
  outline-style: auto; 
  padding: 0px 10px;
  cursor: pointer;
}

#userinput {
  display: inline-block; /* display inline-block */
  width: calc(100% - 80px); /* subtract button width from input width */
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: black;
  vertical-align: middle; /* align with button */
  
}

button {
  display: inline-block; /* display inline-block */
  width: 70px;
  background-color: #4CAF50;
  color: white;
  padding: 12px 0px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  vertical-align: middle; /* align with input */

}

button:hover {
  background-color: #3e8e41;
}

.correct-answer {
  border: 4px solid lightgreen !important;
}

div .wrong-answer {
  border: 3px solid red !important;
}